.board {
  display: grid;
  position: relative;
  grid-template-columns: calc(0.25 * var(--tile-size)) calc(
      8 * var(--tile-size)
    );
}
.tiles {
  display: grid;
  grid-template-columns: repeat(8, var(--tile-size));
  grid-template-rows: repeat(8, var(--tile-size));
  width: (8 * var(--tile-size));
}

.tile--light {
  background-color: var(--light-tile);
}
.tile--dark {
  background-color: var(--dark-tile);
}
.highlight {
  position: relative; /* This is crucial for absolute positioning */
}

.highlight:after {
  content: "";
  display: block;
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  background: var(--highlight);
}
.attacking:after {
  content: "";
  display: block;
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  background: var(--attacking);
}
.checked::after {
  content: "";
  display: block;
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  background: var(--highlight);
}
