.moves-list {
  display: flex;
  flex-direction: row;
  color: var(--dark-tile);
  flex: 1 1 auto;
  flex-wrap: wrap;
  width: 25vw;
  align-content: start;
  overflow: auto;
  font-size: 1.1em;
  background: var(--moves-list-bg);
}
.moves-list div {
  flex-basis: 35%;
  padding-left: 15%;
  text-align: left;
  position: relative;
  padding-bottom: 5px;
  color: var(--light-tile);
}
.moves-list div[data-number]:nth-child(odd)::before {
  content: attr(data-number);
  position: absolute;
  left: 0;
  color: var(--dark-tile);
}
