.ranks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--text);
}
@media (max-width: 1023px) {
  .ranks span {
    font-size: 80%;
  }
  .ranks {
    padding-right: 25%;
  }
}
