@import "./constants.css";

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--bg-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.game-content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 100%;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.App2 {
  width: 100%;
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--bg-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  grid-template-columns: auto 220px;
}

@media (max-width: 1023px) {
  .App2 {
    height: 100%;
  }
}

button {
  background: var(--light-tile);
  color: var(--dark-tile);
  border: 0 none;
  padding: 10px 30px;
  font-size: 1.1em;
}

.column1 {
  position: absolute;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: var(--light-tile);
  background-image: conic-gradient(
    var(--dark-tile) 0deg 90deg,
    var(--light-tile) 90deg 180deg,
    var(--dark-tile) 180deg 270deg,
    var(--light-tile) 270deg
  );
  background-size: var(--square-size) var(--square-size);
  background-position: 0 0;
}

.column2 {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100vh;
  background-color: var(--light-tile);
  background-image: conic-gradient(
    var(--dark-tile) 0deg 90deg,
    var(--light-tile) 90deg 180deg,
    var(--dark-tile) 180deg 270deg,
    var(--light-tile) 270deg
  );
  background-size: var(--square-size) var(--square-size);
  background-position: 0 0;
}

.game-content h1 {
  font-size: clamp(30px, 6vw + 1rem, 125px);
  color: white;
  text-align: center;
}

.game-content p {
  text-align: center;
  font-size: clamp(0.85rem, 4.5vw, 1rem);
  color: white;
}

.c {
  display: none;
}
