.roomCode {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--moves-list-bg);
}

.roomCode p {
  color: white;
  text-align: center;
  text-wrap: nowrap;
  width: 35%;
}

@media (max-width: 1023px) {
  .roomCode {
    margin-left: 5%;
  }
}
@media (max-width: 576px) {
  .roomCode {
    margin-left: 3%;
  }
}
